body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

.content {
  max-width: 450px;
  margin: auto;
}

.nav {
  background: #fff;
  padding: 18px 18px 18px 0;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  width: 100%;
  max-width: 450px;
  z-index: 999;
}

.u-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdf-icon {
  height: 30px;
  cursor: pointer;
}

.btn-nav {
  margin-right: 17px;
}

.user-menu .btn-nav button {
  background: #0071eb;
  color: #fff;
  border: none;
  padding: 13px 0 13px 0;
  margin: -1.5px;
  font-size: 9px;
  cursor: pointer;
  width: 60px;
}

.btn-sign {
  border-radius: 4px 0 0 4px;
}

.btn-login {
  border-radius: 0 4px 4px 0;
}

.dl-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.btn-dl {
  background: #0061ff;
  border-radius: 6px 6px 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 14px;
  cursor: pointer;
}

.icon-file {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  font-size: 20px;
  font-weight: bold;
}

.icon-file img {
  height: 58px;
  width: 58px;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.file-meta {
  flex: 1; 
}

.filename {
  font-size: 16px;
  font-weight: bold;
}

.filesize {
  font-size: 12px;
  opacity: 0.9;
  margin-top: 10px;
}

.icon-dl {
  font-size: 22px;
  font-weight: bold;
  margin-right: 17px; 
}

.dl-faster {
  background: #363636;
  border-radius: 0 0 6px 6px;
  color: #b0b0b0;
  width: 100%;
  text-align: center;
  padding: 6px 0 6px 0;
  cursor: pointer;
}

.dl-faster p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dl-faster button {
  background: #0071eb;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
  padding: 4px;
  margin-left: 6px;
  font-size: 11px;
}

.text1 {
  text-align: center;
  font-size: 11px;
  width: 90%;
  margin: auto;
  color: #848484;
  margin-bottom: 10px;
}

.save-file img, .region img, .about-mdf img, .chrome-dl img, .footer1 img, .footer2 img {
  width: 100%;
  max-width: 450px;
}

.share-option {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.share-option p {
  margin: 0;
}

.share-op, .sv-op {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 11px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  color: #848484;
}

.upload-region {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.upload-region img {
  width: 90%;
}

.flag {
  width: 90%;
  margin: auto;
  display: flex;
  font-size: 13px;
  gap: 20px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.flag img {
  width: 60px;
}

.virus-scan {
  width: 150px;
  margin-left: 5%;
  border: 2.4px solid #f4f4f4;
}

.virus-scan img {
  width: 145px;
}

.virus-title {
  width: 90%;
  margin: auto;
}

.virus, .cb, .dlb {
  font-weight: bold;
  font-size: 13.5px;
}

.scan, .ctit, .cusr, .dlt {
  font-size: 13px;
}

.line1 {
  width: 90%;
  border: 1.4px solid #f5f5f5;
  margin: 35px auto;
}

.circle-mdf {
  width: 90%;
  margin: auto;
}

.circle-mdf img {
  width: 73px;
}

.circle-title {
  width: 90%;
  margin: auto;
}

.gpro {
  color: #0458ff;
  cursor: pointer;
}

.days {
  font-weight: bold;
}

.dl-app {
  width: 100%;
  margin: auto;
}

.dl-app img {
  width: 100px;
}

.dltit {
  width: 90%;
  margin: -10px auto;
}

.ftr {
  background-color: #f4f4f4;
  padding: 20px 0;
}

.ftr-ct {
  margin: 0 25px;
}

.cmp {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.cmpb {
  font-weight: bold;
  font-size: 12px;
  color: #656565;
}

.cmp-about {
  font-size: 12px;
  color: #656565;
  display: flex;
  gap: 25px;
}

.cmp-about a {
  cursor: pointer;
}

.line2 {
  margin: 25px 0;
  border: 0.5px solid #e1e1e1;
}

.social-icons {
  margin: 50px 20px;
}

.social-icons img {
  width: 35px;
}

/* popup */
.popup1 {
  background-color: #0000004f;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.log-with {
  position: relative;
  background-color: #ffffff;
  width: 80%;
  max-width: 400px;
  margin: auto;
  border-radius: 7px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cl-popup1 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #656565;
}

.mdf-logo-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

.mdf-logo-popup img {
  width: 140px;
  margin-left: -9px;
}

.popup-title p {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 450;
  text-align: center;
  color: #656565;
}

.btn-log-popup img {
  width: 17px;
}

.btn-log-popup {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.btn-log-popup button {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  width: 90%;
  max-width: 300px;
  margin: auto;
  display: flex;
  cursor: pointer;
}

.btn-ctn {
  width: 68%;
  margin: auto;
  display: flex;
  flex-direction: flex-start;
  gap: 7px;
  align-items: center;
}

.btn-fb {
  background: #0071eb;
  color: #ffffff;
}

/* Popup2 */
.popup2 {
  background-color: #0000004f;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}

.cl-popup2 {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  color: #656565;
  background-color: #f0f0f0;
  padding: 0 9px;
  border-radius: 50%;
}

.fb-form {
  position: relative;
  background-color: #ffffff;
  width: 90%;
  max-width: 400px;
  margin: auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.form1 {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form1 .email, .form1 .password {
  width: 100%;
  border: 1.5px solid gainsboro;
  border-radius: 4px;
  outline: none;
  padding: 12px;
  font-size: 14px;
}

.form1 .email:focus, .form1 .password:focus {
  border: 1px solid #0071eb;
}

.check {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0 13px 0;
}

.checkbox {
  margin: 0;
}

.text-checkbox {
  font-size: 13px;
}

.form1 .sub-fb {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  background-color: #0071eb;
  font-weight: 450;
  font-size: 14px;
  cursor: pointer;
}

.form-title p {
  margin: 17px 0;
  text-align: center;
  font-size: 19px;
  font-weight: 450;
}

.line-form {
  width: 99%;
  max-width: 400px;
  margin: 0 auto;
  border: 0.5px solid gainsboro;
}

.fpswd {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 10px auto;
  color: #0071eb;
  font-size: 15px;
}